{{ template "top" .user }}
  <h1>
  <h1>Category: {{ .Name }}</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Options</th>
      </tr>
      {{ range .threads}}
        <tr>
          <td>{{ .Name }}</td>
          <td><button hx-get="/thread/{{.ID}}" hx-target="main" hx-push-url="true">View</button></td> 
        </tr>
      {{ end }}
    </table>
{{ template "bottom" }}