{{ template "top" .user }}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
      {{ range .categories}}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .Description }}</td>
          <td><button hx-get="/category/{{.Id}}" hx-target="body" hx-push-url="true">View</button></td> 
        </tr>
      {{ end }}
    </table>
{{ template "bottom" }}